body {
	position: absolute;
 	top: 50%;
    left: 50%;
	background-color: #000000;
	color: #FFFFFF;
	font-family: Trebuchet, Arial, sans-serif;
	

	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
	font-size: 70px
}

a {
	color: #FFFFFF
}

html {
  position: relative;
  height: 100%;
}

#info {
	margin-top: 200px
}